body {
  background: url(../img/FondoLogin.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:50%;

}
.form-group.last { margin-bottom:0px; }


